*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.db
*.db-shm
*.db-wal
xcuserdata/
*.xcscmblueprint
*.xccheckout
Pods/
.build/
DerivedData/
/build/
/composeApp/build/
/.kotlin/
/.idea/
/.gradle/
*.jks
*.keystore
